.container {
	margin-top: 10%;
	border-radius: 10px 10px 0 0;
	background-color: grey;
	width: 20em;
	height: 24em;
}

input[type="button"] {
	margin-top: 1.5em;
	height: 2.4em;
	width: 90%;
	border-radius: 4px;
}

#addition {
	margin-top: -6em;
	height: 6em;
}

#result {
	resize: none;
}